body {
    /* animation-name: clock-animation;
    animation-iteration-count: infinite;
    animation-delay: 3s ease-in-out;
    animation-duration: 10s; */
    background : rgb(116, 126, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow-x: hidden;
    font-family: cursive;
}

@keyframes clock-animation {
    0% {
        background: #5B84B1FF;
    }
    25% {
        bacground: #FC766AFF;
    }
    50% {
        background: #000;
    }
    75% {
        background: wheat;
    }
    100% {
        background: #ADEFD1FF;

    }
}

.clock-container {
    width: 350px;
    height: 350px;
    border: 10px solid #bfd30ea1;
    border-radius: 50%;
    position: relative;
    background: rgb(231, 204, 204);
}

.clock-container::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: purple;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock-number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.clock-number:after {
    content: "";
    position: absolute;
    height: 13px;
    width: 3px;
    top: 13%;
    background: #000;
}

.clock-number>div {
    padding: 12px;
}

.num1 {
    transform: rotate(30deg);
}

.num1>div {
    transform: rotate(-30deg);
}

.num2 {
    transform: rotate(60deg);
}

.num2>div {
    transform: rotate(-60deg);
}

.num3 {
    transform: rotate(90deg);
}

.num3>div {
    transform: rotate(-90deg);
}

.num4 {
    transform: rotate(120deg);
}

.num4>div {
    transform: rotate(-120deg);
}

.num5 {
    transform: rotate(150deg);
}

.num5>div {
    transform: rotate(-150deg);
}

.num6 {
    transform: rotate(180deg);
}

.num6>div {
    transform: rotate(-180deg);
}

.num7 {
    transform: rotate(210deg);
}

.num7>div {
    transform: rotate(-210deg);
}

.num8 {
    transform: rotate(240deg);
}

.num8>div {
    transform: rotate(-240deg);
}

.num9 {
    transform: rotate(270deg);
}

.num9>div {
    transform: rotate(-270deg);
}

.num10 {
    transform: rotate(300deg);
}

.num10>div {
    transform: rotate(-300deg);
}

.num11 {
    transform: rotate(330deg);
}

.num11>div {
    transform: rotate(-330deg);
}

.num12 {
    transform: rotate(360deg);
}

.num12>div {
    transform: rotate(-360deg);
}

.clock-hand {
    width: 100%;
    height: 100%;
    position: absolute;
}

.clock-hand>div {
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 12px;
}

.second-hand {
    height: 32%;
    width: 3px;
    background: rgb(236, 5, 17);
}

.minute-hand {
    height: 30%;
    width: 6px;
    background: #000;
}

.hour-hand {
    height: 20%;
    width: 10px;
    background: #000;
}

.second-hand:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-color: transparent transparent rgb(240, 43, 8) transparent;
    left: 50%;
    transform: translateX(-50%);
    top: -6%;
}

.current-day {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

.current-seconds {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    background: purple;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
}